# Dev/Deployment
sphinx==1.7.9
sphinx_rtd_theme
sphinx-autobuild
nose
codecov
coverage
pypi-publisher
scikit-learn
scipy
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
