# Dev/Deployment
sphinx==1.7.9
sphinx_rtd_theme
sphinx-autobuild
nose
codecov
coverage
pypi-publisher
scikit-learn
scipy
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
